# Database
DB_USER = postgres
DB_PASSWORD = postgres
DB_HOST = postgres_db
DB_PORT = 5432
DB_DATABASE = fraud_detection
DB_TABLE_NAME = transactions
DB_URI = postgresql://postgres:postgres@postgres_db:5432/fraud_detection

# Port configuration
MLFLOW_TRACKING_URI = "http://localhost:5000"