# train.py
BASE_DATASET_PATH=../data/base_dataset.parquet

# Model names
MODEL_NAME=random_forest_classifier
DEFAULT_MODEL_ALIAS=production

# Database configurations
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db_service
DB_PORT=5432
DB_DATABASE=fraud_detection
DB_TABLE_NAME=transactions

# complete postgres connection URI for SQLAlchemy
DB_URI=postgresql://postgres:postgres@db_service:5432/fraud_detection

# Port configurations
MLFLOW_TRACKING_URI=http://mlflow:5000
PREFECT_SERVER_API_HOST=0.0.0.0
# Prefect API URL that can be used inside the docker network to access the Prefect API
PREFECT_API_URL=http://prefect-server:4200/api
# Prefect config that can be used on the host machine to access the Prefect UI and API
PREFECT_UI_URL=http://localhost:4200
PREFECT_SERVER_UI_API_URL=http://localhost:4200/api

# dbt schema for the dbt models and tables
DBT_SCHEMA=dev

# postgres database names for Prefect and MLflow
DB_PREFECT=prefect
DB_MLFLOW=mlflow