# train.py
BASE_DATASET_PATH=../data/base_dataset.parquet
MODEL_NAME=random_forest_classifier
DEFAULT_MODEL_ALIAS=production

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db_service
DB_PORT=5432
DB_DATABASE=fraud_detection
DB_TABLE_NAME=transactions
DB_URI=postgresql://postgres:postgres@db_service:5432/fraud_detection

# Port configuration
MLFLOW_TRACKING_URI=http://mlflow:5000